
/*delete above*/

/* Your Website Styles */
h1{
	text-align: center;
}

h4{
	text-align: center;
}

body{
	background: none;
}

ul{
	list-style: none;
}

/*link stuff*/
a{
  
}

a:link,
a:visited{
  border: 4px double none;
  color: black;
  background: none;
  display: block;
  margin:25px 57px 0px 0px;
  
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

a:focus{
  border: dotted 2px black;
}

/*ON STATE*/
a:hover{
	color: blue;
}

a:active{
  background: black;
}
/*link stuff*/

.links{
	text-align: center;
}

.layoutUl{
	list-style: none;
	border: solid black;
}

.container{

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}