
/*delete above*/

/* Your Website Styles */
h1{
	text-align: center;
}

h4{
	text-align: center;
}

body{
	background: lightgrey;
}

ul{
	list-style: none;
}

/*link stuff*/
a{
  
}

a:link,
a:visited{
  color: black;
  display: block;
  text-align: center;
  margin: 15px 50px 0px 50px;
  
  height: 50px;
  width: 200px;
  line-height: 50px;
  text-decoration: none;
}

a:focus{
  
}

/*ON STATE*/
a:hover{
	color: blue;
	box-shadow: inset 0 0 5px 5px #888;
}

a:active{

}
/*link stuff*/

.layoutUl{
	list-style: none;
	/*border: solid black;*/
	margin: 5px 5px 5px 35px;
	box-shadow: 10px 10px 5px #888;
	background: white;

	width: 405px;
	height: 230px;
	overflow: auto;
}

.container{

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}